.ce_download,
.ce_downloads {
    padding: 15px;
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 5px;

    @media (width >= 768px) {
        padding: 30px;
    }

    @media (width >= 992px) {
        width: 50%;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        margin-bottom: 1rem;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    .dl-above-txt {
        display: block;
        color: $grey-dark;
    }
}
