.ce_download,
.ce_downloads {
  background: #fff;
  padding: 15px;
  border: 1px solid $border-color;
  width: 100%;

  @media (min-width: 768px) {
    padding: 30px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
