.ce_download,
.ce_downloads {
  background: #fff;
  padding: 15px;
  border: 1px solid $border-color;
  border-radius : 5px;

  @media (min-width: 768px) {
    padding: 30px;
  }
  @media (min-width: 992px) {
    width: 50%;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
