.section-footer {
  padding: 48px 0;
  font-size: 14px;

  p {
    margin : 0 0 10px
  }

  &__inside {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    > * {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.sponsor {
    max-width: 170px;
    text-align: center;
    line-height: 2;

    a {
        display: block;
    }
}
