form {

  input[type="radio"],
  input[type="checkbox"] {
    display : inline-block;
    float : left;
    height : auto;
    margin-right : 8px;
    margin-top: 5px;
    width : auto;
    box-sizing: border-box;
    padding: 0;
  }

  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    -webkit-appearance: listbox;
  }

  input,
  textarea {
    background : #ffffff;
    border: 1px solid #d6d6d8;
    color : #333;
    padding : 15px;
    width : 100%;
    font: 300 16px/26px 'Open Sans',sans-serif;

    &:focus {
      border : 1px solid $primary-color;
      outline : none;
    }
  }

  textarea {
    font-family : inherit;
    height : 250px;
    overflow: auto;
    resize: vertical;
  }

  fieldset {
    border : none;
    margin : 0 0 2em;
    min-width: 0;
    padding: 0;
    border: 0;

    legend {
      border : none;
      color : $text-color;
      display : inline;
      font-size: 24px;
      margin-bottom: .75em;
      padding : 0;
      width : auto;
      max-width: 100%;
      line-height: 1.5em;
      white-space: normal;
    }
  }

    fieldset.radio_container,
    fieldset.checkbox_container {
        margin-bottom: 0;
        padding: 10px 0 0;

        legend {
            font-size: inherit;
            margin-bottom: 0;
        }
    }

  label {
      display: block;
      margin-bottom: .35em;
      text-align: left;
  }

  select {
    -moz-appearance : none;
    -webkit-appearance : none;
    appearance : none;
    background : #ffffff;
    border: 1px solid #d6d6d8;
    border-radius: 0;
    color : inherit;
    font: 300 16px/26px 'Open Sans',sans-serif;
    padding : 15px 65px 15px 15px;
    width : 100%;
  }

  select::-ms-expand {
    display : none;
  }

  .widget {
    margin-bottom : 15px;

    @media (min-width: 992px) {
      width: 90%;
    }
  }

    .widget-select {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            right: 1px;
            bottom: 1px;
            width: 50px;
            height: 56px;
            z-index: 1;
            background: $primary-color url("../../images/select-arrow-down.png") center center no-repeat;
            background-size: 23px 12px;
            pointer-events: none;
        }
    }

  .widget-submit {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
  }

  .widget-wrapper {
    display: flex;
    justify-content: space-between;
  }

    input.error {
        border-color: #c00;
    }

    p.error {
        color: #c00;
        font-size: 90%;
    }

    .widget-captcha .captcha {
        height: 40px;
        width: 40px;
        padding: 8px;
        display: inline-block;
        margin-right: 10px;
    }
}

.checkbox_container {
  span {
    display: flex;
    align-items: center;
  }
}

.ce_form {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top : 0;
  }
}
input[type="submit"],
input[type="button"],
button {
  @include button-default;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
