form {

  input[type="radio"],
  input[type="checkbox"] {
    display : inline-block;
    float : left;
    height : auto;
    margin-right : 8px;
    width : auto;
  }

  input,
  textarea {
    background : #ffffff;
    border : 1px solid #cccccc;
    border-radius : 0;
    color : #666666;
    height : 40px;
    padding : 5px;
    width : 100%;

    &:focus {
      border : 1px solid $primary-color;
      outline : none;
    }
  }

  input[type="submit"],
  input[type="button"] {
    background: $primary-color;
    border: none;
    color : #ffffff;
    display : inline-block;
    font-weight : normal;
    overflow : hidden;
    padding : .5rem 1.5rem;
    position : relative;
    text-transform : uppercase;
    transition : all .3s;
    z-index : 1;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    @include border-radius(5px);

    &::after {
      background-color : $primary-color;
      bottom : 0;
      content : '';
      height : 100%;
      left : 0;
      position : absolute;
      width : 100%;
      z-index : -2;
      @include border-radius(5px);
    }

    &::before {
      background-color : $primary-color-dark;
      bottom : 0;
      content : '';
      height : 100%;
      left : 0;
      position : absolute;
      transition : all .3s;
      width : 0;
      z-index : -1;
      @include border-radius(5px);
    }

    &:hover {
      color : #ffffff;
      cursor: pointer;

      &::before {
        width : 100%;
      }
    }

    &:active {
      color : #ffffff;
    }

    &:visited {
      color : #ffffff;
    }
  }

  textarea {
    font-family : inherit;
    height : 250px;
  }

  fieldset {
    border : none;
    margin-bottom : 15px;

    fieldset {
      border : none;
      margin : 0;
      padding : 0;
    }

    legend {
      border : none;
      color : #333333;
      display : inline;
      font-weight : bold;
      margin-bottom : 0;
      padding : 0;
      width : auto;
    }

    &.col-2 {
      border : none;
      padding : 0;

      .fieldset {
        display : flex;
        flex-wrap : wrap;
        justify-content : space-between;

        .widget {
          flex : 1 1 100%;

          @media (min-width : 768px) {
            flex : 0 1 49.333%;
          }
        }
      }
    }
  }

  label {
    display : block;
    margin-bottom: 0.2rem;
  }

  select {
    -moz-appearance : none;
    -webkit-appearance : none;
    appearance : none;
    background : #ffffff;
    border : 1px solid #cccccc;
    border-radius : 0;
    color : inherit;
    font-size : 16px;
    height : 40px;
    padding-left : 10px;
    width : 100%;
  }

  select::-ms-expand {
    display : none;
  }

  .widget {
    margin-bottom : 15px;
  }

  .submit_container {
    float : left;
    width : 100%;
  }
}

.explanation {
  font-size : .8em;
  line-height : 1.1em;
}

.checkbox_container {
  span {
    display: flex;
    align-items: center;
  }
}

.ce_form {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top : 0;
  }
}
