.section-header {
    padding: 15px 15px 0;

    @media (width >= 768px) {
        margin-bottom: 5px;
    }

    .section-header__inside {
        display: flex;
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
    }
}

.logo {
    display: block;
    width: 140px;
    height: 39px;
    text-indent: -999em;
    background: url('../../images/logo-contao-association.svg') 0 0 no-repeat;
    background-size: 100% 100%;

    @media (width >= 768px) {
        width: 200px;
        height: 55px;
        margin: 10px 0 0 25px;
    }
}
