body, form, figure {
  margin  : 0;
  padding : 0;
}

img {
  border : 0;
}

header, footer, nav, section, aside, article, figure, figcaption {
  display : block;
}

body {
  font-size : 100.01%;
}

select, input, textarea {
  font-size : 99%
}

#container, .inside {
  position : relative;
}

.text-center {
  text-align: center;
}
.left-auto {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}
.right-auto {
  margin-right: auto;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main .inside {
  min-height : 1px;
}

.float_left {
  float : left;
}

.float_right {
  float : right;
}

.block {
  overflow : hidden;
}

.clear, #clear {
  height      : .1px;
  font-size   : .1px;
  line-height : .1px;
  clear       : both;
}

.invisible {
  border   : 0;
  clip     : rect(0 0 0 0);
  height   : 1px;
  margin   : -1px;
  overflow : hidden;
  padding  : 0;
  position : absolute;
  width    : 1px;
}

img {
  max-width : 100%;
  height    : auto;
}

body {
  font                    : 1.8rem 'Open Sans', sans-serif;
  color                   : #333333;
  font-weight             : 300;
  background              : #f7f7f9;
}

h1, h2, h3, h4, h5, h6 {
  color       : #505050;
  font-weight : 400
}

h1 {
  margin     : .67em 0;
  text-align : center;
  font-size  : 1.8em;

  @media (min-width: 480px) {
    font-size  : 2em;
  }
}

h1 + p,
h1 + .ce_text {
  text-align : center;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-bottom : 15px;
  //font-size     : 27px;
}

h3 {
  //font-size : 21px
}

strong, b {
  font-weight : 400;
}

p {
  margin : 10px 0;
}

a {
  text-decoration : none;
  color           : #eb8623;

  @include hfa() {
    color : #cb5f06;
  }
}

blockquote {
  margin: 2em 0 3em 4em;
}

hr {
  width: 100%;
  display: block;
  border-color: $border-color;
  margin-top : 30px;
  margin-bottom: 30px;
}

/* Full with Sections: */

.mod_article .inner {
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.mod_article {
  margin-bottom : 40px;
}
div[class^="mod_"] {
  width: 100%;
}
.row div[class^="ce_"], .row div[class^="mod_"] {
  padding-right: 15px;
  padding-left: 15px;
}


//.ce_text, .ce_headline {
//  text-align: center;
//}

#header {
  margin : 30px 36px 10px;
}

.ce_hyperlink {

  img {
    width   : 100%;
    display : block
  }

  a {
    @include button-default;
  }
}

@media (max-width : 991px) {
  .mod_article {
    overflow : visible
  }
  .mod_article::before {
    content : "";
    display : table
  }
}

a.button,
button,
.back a,
#container button,
#container button a.hyperlink_txt,
.more a,
a.more,
.pagination a.last,
.pagination a.first {
  @include button-default;

  @include hfa() {
    text-decoration: none;
  }
}
