.mod_voting_list {
  .voting {
    background: $background-grey;
    display: flex;
  }

  .vote {
    background: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    position : relative;
    display: flex;
    flex: 1 0 30%;
    margin: 15px;

    a {
      padding: 15px;
      @include hfa() {
        text-decoration: none;
      }
      @media (min-width: 768px) {
        padding: 30px;
      }
    }
  }

  h3 {
    color: $primary-color;

    @media (min-width: 768px) {
      font-size: 1.8em;
    }
  }

  a {
    .period, .total {
      color : $grey-dark;
    }
  }
}

.mod_voting_enquiry_list {
  margin-top: 3em;

  @media screen and (min-width: 992px) {
    margin-top: 6em;
  }

  .enquiry {
    &:not(:last-of-type) {
      margin-bottom: 2em;
      padding-bottom: 2em;
      border-bottom: 1px solid $border-color;
    }

    h3 {
      margin-bottom: 0.5em;
    }
  }
}
