nav {
  ul {
    list-style-type : none;
    margin          : 0;
    padding         : 0;

    &:after {
      content : "";
      display : table;
      clear   : both;
    }
  }

  ul.level_2 {
    display: none;
  }
  a {
    color: $primary-color;

    @include hfa() {
      text-decoration: underline;
    }
  }
  a:hover, strong, a.trail {
    color: $primary-color;
  }

  /*a:hover, strong, a.trail {
    color: $color-default;
    text-decoration: none;
  }*/
  strong {
    font-weight: lighter;
  }
  /*li:hover > ul {
    display: block;
  }*/
}



// generelle Checkbox unter body
.menu-toggle,
input.nav-toggle {
  display: none;
}
// Klickbare Checkbox im header (Hamburger/X)
header .menu-toggle {
  position: relative;
  z-index: 110;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */


  > span {
    display: block;
    width: 30px;
    height: 1px;
    background: $primary-color;
    transition: all .3s;

    &:nth-child(1) {
      margin-top: 9px;
    }

    + span {
      margin-top: 10px;
    }
  }
}

// Menü ist offen
input.menu-toggle:checked {
  position: fixed;
  cursor: pointer;
  z-index: 1000;

  ~ .wrapper {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    header {
      label.menu-toggle {
        > span {
          transform-origin: 50% 50%;
          &:nth-child(1) {
            transform: translateY(5px) rotate(-45deg);
            margin-top: 13px;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
            margin-top: 4px;
          }
          &:nth-child(3) {
            transform: translateY(10px);
            opacity: 0;
          }
        }
      }
      .mainnavi {
        display: block;
        opacity: 1;
      }
    }
  }
}

.mainnavi {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  background: $background-grey;
  z-index: 100;
  color: $primary-color;
  opacity: 0;
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
  // .level_1
  ul {
    display: flex;
    flex-direction: column;
    padding: 30px;

    > label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      cursor: pointer;

      > span {
        display: block;
        transition: transform .2s;
      }
    }
    // .level_2
    ul {
      opacity: 0;
      display: none;
      list-style: none;
      transition: all 1s ease-in-out;
      position: relative;

      a, strong {
        padding-left: 15px;
      }
    }
  }

  li {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid darken($grey-light, 10%);

    @include hfa() {
      background-color: $grey-light;
    }

    > label {
      display: inline-block;
      //width: 8px;
      //height: 16px;
      width: 55px;
      height: 55px;
      cursor: pointer;
      position: relative;
      margin-bottom: 0;
      transition: all 0.3s ease-in-out;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid darken($grey-light, 10%);
      position : absolute;
      right: 0;
      top: 0;

      &::after {
        content: '';
        background: url("../../images/icon_arrow_top.svg") 0 0 no-repeat;
        transform: rotate(90deg);
        width: 10px;
        height: 10px;
        float: right;
        transition: all 0.3s ease-in-out;
      }

      > span {
        display: block;
        transition: transform .2s;
      }
    }

    > input:checked {

      /*~ label > span {
        transform: rotate(90deg);
      }*/

      ~ ul {
        display: block;
        opacity: 1;
        box-shadow: none;
        background: none;
        padding: 0;
        margin-top: 15px;
      }
    }

    &.active a,
    &.active strong,
    &.submenu,
    &.submenu.trail a.trail {
      //color: $primary-color;
    }

    &:hover .level_2, &:active .level_2, &:focus .level_2 {
      opacity: 1;
    }
  }

  .submenu {
    &:hover, &:focus, &:active, &.trail {

      label:after {
        color: $primary-color;
        transform: rotate(180deg);
      }
    }

    li {
      padding: 8px;
      margin-right: 0;

      &:last-child {
        border-bottom: none;
      }
    }

    input {
      display: none;
    }

  }

  a {
    @include hfa() {
      text-decoration: underline;
    }
  }
}
