@charset "utf-8";


/* Reset and Normalize CSS */

/* ============================ */

/* Nur ein paar Grundlagen, die ich immer dabei habe */

*,
*::after,
*::before {
  box-sizing : border-box;
  margin : 0;
  padding : 0;
}

/* hyphenate for special elements: */

/* works not for everything: https://css-tricks.com/almanac/properties/h/hyphenate/ */

table,
form legend,
a,
.box-info,
h1,
h2,
h3,
h4,
h5,
h6 {
  -moz-hyphens : auto;
  -webkit-hyphens : auto;
  hyphens : auto;
  overflow-wrap : break-word;
  word-wrap : break-word;
}

/* Zuerst das ganze für den Mozilla Firefox */

::-moz-selection {
  background-color : $primary-color;
  color : $color-white;
}

/* Wichtig: Danach!!! sonst interpretiert der Firefox das nicht richtig!! */

/* Danach für alle anderen */

::selection {
  background-color : $primary-color;
  color : $color-white;
}

.invisible,
.visualyhidden,
.nav-skiplink,
.nav-skiplink-content {
  left : -32768px;
  position : absolute;
  top : -32768px; /* LTR */
}

.visualyhidden:focus,
.nav-skiplink:focus,
.nav-skiplink-content:focus {
  left : 0;
  position : static;
  top : 0;
}

.nav-skiplink {
  left : -32768px;
  list-style-type : none;
  margin : 0;
  padding : 0;
  position : absolute;
  top : 0;
  width : 100%;
  z-index : 1000;
}

.nav-skiplink-content:focus,
.nav-skiplink-content:active {
  background-color : $primary-color;
  color : $color-white;
  left : 32768px;
  outline : 0 none;
  position : absolute;
  text-align : center;
  width : 100%;
}

/* tabindex Elements outline: */

*[tabindex="-1"] {
  outline : none;
}


iframe {
  border : 0;
}


@media screen and (min-width : 800px) {
  /* Floating Elements */

  .float-left,
  .float_left {
    float : left;
    margin-bottom : .5em;
    margin-right : 1em;
  }

  .float-right,
  .float_right {
    float : right;
    margin-bottom : .5em;
    margin-left : 1em;
  }
}

/* Float-Container and Clearfix */

.contain-oh {
  display : block;
  overflow : hidden;
  width : 100%;
}

.contain-fl {
  float : left;
  width : 100%;
}

.contain-dt,
.u-wrapper-dt
  /*.ce_text*/ {
  display : table;
  table-layout : fixed;
  width : 100%;
}

/* clearfix */

.clearfix {
  zoom : 1; /* IE < 8; */

  &::before {
    content : '';
    display : table;
  }

  ::after {
    clear : both;
    content : '.';
    display : block;
    font-size : 0;
    height : 0;
    visibility : hidden;
  }
}


html,
body {
  /* https://css-tricks.com/rem-global-em-local/ */
  background-color : $color-white;
  color : $text-color;
  //height : 100%;
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size : 62.5%; /* reset to 10px!!! */
  overflow-x : hidden;
  overflow-y : visible;


  @media (max-width : 400px) {
    font-size : 46.875%;
  }
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  background-color : $color-white;
  color : $text-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  text-align: left;

  /*
      https://css-tricks.com/books/volume-i/scale-typography-screen-size/
  */
  line-height : 2.8rem;
  table-layout : fixed;
  width : 100%;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: none;
  border-bottom: 1px solid;
}

#wrapper {
  margin : 0 auto;
  max-width : $maxwidth;
}

/* Full with Sections: */






button:hover,
button:focus,
button:active {
  outline : none;
}

button::-moz-focus-inner {
  border : 0;
}

/* ============================ */

/* sizes */

/*
h1 = 30px = 3.0rem (Khand, regular)
    h2 = 30px = 3.0rem (Khand, regular)
    h3 = 22px = 2.2rem (Khand, regular)
    h4 = 15px = 1.5rem (Khand, regular bold)
    h5 - h6 = h3 (keine Definition)
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  color : $headings-color;
  font-family : $font-primary;
  font-weight : 400;
  line-height : 1.4;
  margin-bottom : 15px;

  @media (min-width : 992px) {
    margin-bottom : 30px;
  }
}

h2 {
  font-size : 3rem;
}

h3 {
  font-size : 2.5rem;
}

h4 {
  font-size : 2.3rem;
}

h5 {
  font-size : 2.2rem;
}

h6 {
  font-size : 2rem;
  font-weight : 600;
}


p {
  //margin-bottom : 2em;
  margin-bottom : 0;
}

nav ul,
nav ol {
  list-style-type : none;
  padding : 0;
}

main ul,
main ol {
  margin-bottom : 1em;
  margin-left : 1em;
}

main ul {
  list-style-type : square;
}

main li {
  margin-bottom : .5rem;
}


/* Cave: set an really good state for focus after this!!! */

a {
  text-decoration : none;
  -webkit-text-decoration-skip: objects;

  &:hover,
  &:focus,
  &:active {
    outline : none;
  }
}

a[href^="tel:"] {
  border-bottom : 0;
}


main a,
main a:visited {
  color : $primary-color;
  text-decoration : none;
}

main a {
  transition : all .5s ease-in-out;

  @include hfa() {
    color : $primary-color;
    text-decoration : underline;
    transition : all .5s ease-in-out;
  }
}

footer a,
footer a:visited {
  color : $primary-color;
  text-decoration : none;
}

footer a {
  transition : all .5s ease-in-out;

  @include hfa() {
    text-decoration : underline;
    transition : all .5s ease-in-out;
  }
}


/* extern Links */

p a[href^="http:"],
p a[href^="https:"],
p a[href^="ftp:"] {
  // uncomment this, when there is an image for this
  //background   : transparent url('../img/png/link-pfeil-extern.png') 2px 50% no-repeat;
  //background   : linear-gradient(transparent, transparent), url('../img/link-pfeil-extern.svg');
  //background-repeat: no-repeat;
  //background-size : 5px;
  //background-position: 3px center;
  //padding-left : 10px;
}

/* intern Links */
// change domain in real domain

a[href^="http://domain.de"],
a[href^="https://domain.de"] {
  //background   : transparent;
  //padding-left : 0;
}


ul {
  list-style-type : square;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

address {
  font-style : normal;
}

figure {
  margin: 0 0 1rem;
}

figure,
img {
  height : auto;
  max-width : 100%;
  //width  : 100%;
  width : auto;
}

figure.float_right,
figure.float_left {
  height : auto;
  width : auto;
}

img {
  border : none; /* für IE10 und kleiner (hat eine unschöne blaue border gezeichnet bei allen Bildern) */
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}

figcaption {
  background-position : 0 .5em;
  background-repeat : no-repeat;
  background-size : .75em .75em;
  padding-left : 1em;
}

video {
  height : auto;
  position : relative;
  width : 100%;
}

.video-box_overlay {
  content : '';
  height : 100%;
  left : 0;
  position : absolute;
  top : 0;
  width : 100%;
}

.ce_player,
.ce_youtube {
  margin-bottom : 2em;
}


@media screen and (max-width : 900px) {

  .ce_youtube iframe {
    bottom : 0;
    height : 100% !important;
    left : 0;
    position : absolute;
    right : 0;
    top : 0;
    width : 100% !important;
  }
}


// ================== Allgemeines:


a.invisible {
  display : inline-block;
  left : -32768px;
  list-style-type : none;
  margin : 0;
  padding : 0;
  position : absolute;
  top : 0;
  width : 100%;
  z-index : 1000;

  &:focus,
  &:active {
    background : $primary-color;
    border-bottom : 4px $color-white solid;
    color : $color-white;
    left : 32768px;
    //left: 0;
    outline : 0 none;
    padding : 10px 0;
    position : static !important;
    text-align : center;
    text-decoration : none;
    width : auto;
    z-index : 1999; // open-street-map is using massive heigh z-index, so we need to set this element so heigh -> therefore the navigation is set to 1500
  }
}

.ce_text p {
  margin-bottom : 10px;
}

/**
* (en) reset monospaced elements to font size 16px in all browsers
* (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
*
* @see: http://webkit.org/blog/67/strange-medium/
*/

textarea,
pre,
code,
kbd,
samp,
var,
tt {
  font-family : $font-monospace;
}
