
table > thead > tr:first-child > th,
table > thead > tr:first-child > td,
table > tbody:first-child > tr:first-child > th,
table > tbody:first-child > tr:first-child > td,
table > tfoot:first-child + tbody > tr:first-child > th,
table > tfoot:first-child + tbody > tr:first-child > td {
  /* Erste Zeile */
  border-top: 0;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #dcdcdc;
  background: #ffffff;

  thead {
    background: $background-grey;
  }
  tbody {
    tr {
      @include hfa() {
        background: $background-grey;
      }
    }
  }
  tfoot {
    td {
      font-style: italic;
    }
  }
  th, td {
    border: solid #f2f2f2;
    border-width: 1px 0 0 1px;

    &:first-child {
      border-left: 0;
    }
  }
  td {
    padding: 0.4em 0.66667em;

    &.paid {
      color: $color-green;
    }
    &.open {
      color: $color-red;
    }
  }
  th {
    padding: 0.4em 0.66667em;
    font-weight: bold;
    text-align: left;
  }
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}
