.content-voting-list {
    .voting {
        display: flex;
        flex-wrap: wrap;
    }

    .vote {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 30px);
        margin: 15px;
        text-align: center;
        background: #fff;

        @media (width >= 480px) {
            width: calc(50% - 30px);
        }

        @media (width >= 768px) {
            width: calc(33.3333% - 30px);
        }

        a {
            padding: 15px;
            @include hfa {
                text-decoration: none;
            }

            @media (width >= 768px) {
                padding: 30px;
            }
        }
    }

    h3 {
        color: $primary-color;

        @media (width >= 768px) {
            font-size: 1.8em;
        }
    }

    .period strong {
        display: block;
    }

    a {
        .period {
            color: $grey-dark;
        }

        .total {
            color: #6c757d;
        }
    }
}

.content-voting-enquiry-list {
    margin-top: 3em !important;

    .voted {
        margin-bottom: 2em;
        padding: 15px;
        background: #fff;
        border: 1px solid #e1e1e3;
        border-radius: 5px;
    }

    .summary {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .period strong {
            display: block;

            @media screen and (width >= 992px) {
                display: inline;
            }
        }
    }

    .enquiry {
        margin-bottom: 2em;
        padding-top: 2em;
        border-top: 1px solid $border-color;

        h3 {
            margin-bottom: 0.5em;
            color: $link-text-color;
        }

        .attachments {
            margin: 2em 0;
        }

        @media screen and (width >= 992px) {
            display: flex;
            width: 100%;

            .text {
                flex-grow: 3;
                width: 60%;
                padding-right: 20px;
            }

            .more {
                flex-grow: 1;
                text-align: right;
            }

            &.can-vote {
                .more {
                    text-align: left;
                }
            }

            .vote {
                flex-grow: 2;
            }
        }
    }
}
