.content-voting-enquiry-reader {
    margin-top: 3em;

    @media screen and (width >= 992px) {
        margin-top: 6em;
    }

    .recommendation {
        margin-top: 2em;
        padding: 15px;
        background: #fff;
        border: 1px solid #e1e1e3;
        border-radius: 5px;
    }
}
